<%= erb :_navbar %>

<div class="well well-sm event-header">
  <h1>Event: <%= @event %></h1>
  <p>Total: <%= @client.event_total(@event) %></p>
</div>

<div>
  <table class="table table-bordered client-table">
    <thread>
      <tr>
        <th><strong>Hours</strong></th>
        <th><strong>Occurrences</strong></th>
      </tr>
    </thread>
    <% @client.event_breakdown(@event).each do |data| %>
      <tr>
          <td><%= data[0] %></td>
          <td><%= data[1] %></td>
      </tr>
    <% end %>
  </table>
</div>
